<table class="fullwidth">
	<thead>
		<tr>
			<th style="width: 100px; max-width: 200px" data-sw-translate>Parameter</th>
			<th style="width: 310px; max-width: 310px" data-sw-translate>Value</th>
		</tr>
	</thead>
	<tbody class="custom-params">
	</tbody>
</table>
<div style="padding-top: 10px">
	<input type="button" class="custom-param-add" value="Add" />
	<input type="button" class="custom-param-remove" value="Remove last" />
	<div class="custom-param-error"></div>
</div>
