<td>
	<input type="text" class="x-mq-param-name" placeholder="Name" />
</td>
<td>
	<div class="x-mq-eqchar">=</div>
</td>
<td>
	<input type="text" class="x-mq-param-value" placeholder="Value" />
</td>